
<%= link_to "Back", books_path, class: 'btn btn-info btn-sm' %>
<table>
	<tr>
		<td>Title</td>
		<td>: <%=@book.title%></td>
	</tr>
	<tr>
		<td>Page</td>
		<td>: <%=@book.page%></td>
	</tr>
	<tr>
		<td>Description</td>
		<td>: <%=@book.description%></td>
	</tr>
</table>